<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halanx</title>
</head>
<body>
    <div ng-show="complete"> 
        <img src="http://pluspng.com/img-png/success-png-success-icon-image-23194-400.png" style="margin: 80px auto 20px;display: block;" alt="">
        <h2 style="text-align:center;margin-bottom:120px;">Redirecting to Halanx.com...</h2>
    </div> 
    <script>
         setTimeout(function(){
			window.location = "https://www.halanx.com";
		},500);
    </script>
</body>
</html>