<html>
<head>
    <title>Engifest'19 App Downloads</title>
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        margin: auto;
    }
</style>


<body>
    <h1 style="text-align: center;">Engifest'19 Statistics</h1>

    <img style="display: block; margin: auto;" src="http://www.engifest.dtu.ac.in/images/main.png" height="200" width="350">

    <h2 style="text-align: center;">Total Downloads: <%=users_count%></h2>
    <h2 style="text-align: center;">Total Advance Bookings: <%=bookings_count%></h2>
</body>

</html>