<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halanx</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
<script>
    var app = angular.module("app",[]);
      app.controller("control",function($scope,$q,$http){
        $scope.hide = false;
          var obj = <%- JSON.stringify(object || null) %>;
          console.log(obj);
          $scope.showSuccess = false;
            var defer = $q.defer();
          $http.post('https://api.halanx.com/orders/',obj,{
            headers: {
    'Content-Type':'application/json',
    'Authorization': 'Token ' + '<%=token%>' 
  }}).then((data)=>{
      console.log(data);
      
        setTimeout(function(){
			window.location = "https://www.halanx.com/#/landing";
		},500);
      },(err)=>{
        $scope.hide = true;
          setTimeout(function(){
			window.location = "https://www.halanx.com";
		},100);
      });
      });
</script>
<body ng-app="app" ng-controller="control">
    <div ng-hide="hide"> 
  <img src="http://pluspng.com/img-png/success-png-success-icon-image-23194-400.png" style="margin: 80px auto 20px;display: block;" alt="">
  <h2 style="text-align:center;margin-bottom:120px;">Successfully Ordered</h2>
</div>   
</body>
</html>