<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halanx</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
<script>
    var app = angular.module("app",[]);
      app.controller("control",function($scope,$q,$http){
          var obj = <%- JSON.stringify(object || null) %>;
          console.log(obj);
          $scope.showSuccess = false;
            var defer = $q.defer();
          $http.post('https://api.halanx.com/orders/',obj,{
            headers: {
    'Content-Type':'application/json',
    'Authorization': 'Token ' + '<%=token%>' 
  }}).then((data)=>{
      console.log(data);
      $scope.showSuccess = true;
        setTimeout(function(){
			window.location = "https://www.halanx.com";
		},200);
      },(err)=>{
          setTimeout(function(){
			window.location = "https://www.halanx.com";
		},100);
      });
      });
</script>
<body ng-app="app" ng-controller="control">
    <div style="height:  600px;width:  100%;" ng-hide="showSuccess">
        <img src="tick.png" alt="" style="margin: 20% auto;display: block;">
<!--        <h3>Successful!</h3>-->
    </div>
</body>
</html>